{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}

    </div>
    <div id="categoryIMG">

    <h1 class="text-center p-5" > Qui ? </h1>

    </div>

    {% for category in categories %}
    <section class="mb-3 text-center">
        <div>
            <a href="{{ path("category_show", { categoryName: category.name }) }}"><h2> {{ category.name }} </h2></a>
        </div>
    </section>
    {% else %}
        Aucune Catégorie trouvée.
    {% endfor %}

    
    
    
{% endblock %}
