{% extends 'base.html.twig' %}

{% block title %}Le concept{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div id="conceptIMG">

    <h1 class="text-center p-5">Le concept </h1>

</div>

<h2 class="text-center" >LES MEILLEURS VOYAGES</h2>
<div class="container">
<p>
Pour chaque moment de vos vies :
Amoureux ou natifs des plus belles destinations, nos 25 créateurs de voyages ont escaladé pour vous les volcans, plongé à 20 000 lieues sous les mers, affronté les jungles urbaines, ou même goûté les spécialités les plus exotiques. 
Ils partageront leurs secrets et feront l’impossible pour vous faire vivre comme un local et profiter d’activités époustouflantes !

Vous n’avez qu’à préparer vos valises : JE PARS AVEC s’occupe du reste. Grâce notre conciergerie, vous aurez la réponse à tous vos besoins. De quoi explorer le monde comme un privilégié, et en toute sérénité.
</p>
</div>

{% endblock %}
 